.team-picker {
  background-color: #fff;
  opacity: 0.9;
  padding: 1.875rem;
  text-align: center;
  min-width: 280px;
  border-radius: 5px;
  margin-bottom: 1.25rem;
  h1 {
    font-size: 1.4rem;
  }
  h2 {
    font-size: 1.2rem;
    text-align: left;
    margin-bottom: 0.3125rem;
  }
  .waiter {
    position: relative;
    width: 50px;
    height: 50px;
    margin: 25px auto;
    &:before {
      content: "";
      display: block;
      background-color: #dedede;
      animation: lightgrey 1.5s infinite;
      width: 50px;
      height: 50px;
      position: absolute;
      border-radius: 50%;
      opacity: 0.5;
    }
    &:after {
      content: "";
      display: block;
      background-color: #888;
      animation: darkgrey 1.5s infinite;
      width: 50px;
      height: 50px;
      position: absolute;
      border-radius: 50%;
      opacity: 0.5;
    }
  }

  @keyframes lightgrey {
    0% {
      transform: scaleX(0) scaleY(0);
    }
    50% {
      transform: scaleX(1) scaleY(1);
    }
    100% {
      transform: scaleX(0) scaleY(0);
    }
  }

  @keyframes darkgrey {
    0% {
      transform: scaleX(1) scaleY(1);
    }
    50% {
      transform: scaleX(0) scaleY(0);
    }
    100% {
      transform: scaleX(1) scaleY(1);
    }
  }
}
