.home {
  background-color: #fff;
  opacity: 0.9;
  padding: 1.875rem;
  text-align: center;
  min-width: 280px;
  border-radius: 5px;
  margin-bottom: 1.25rem;
  h1 {
    font-size: 1.4rem;
  }

  /* TODO: button and styles need to be pulled into separate component */
  .primary-button {
    display: inline-block;
    width: 100%;
    padding: 1rem 1.25rem;
    border-radius: 0.25rem;
    background-color: #28a745;
    border-color: #28a745;
    color: #fff;
    text-decoration: none;
  }

  .primary-button:hover {
    cursor: pointer;
    background-color: #218838;
    border-color: #1e7e34;
  }
}
