.clicker {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fff;
  opacity: 0.9;
  padding: 1.875rem;
  text-align: center;
  width: calc(100% - 40px);
  min-width: 280px;
  max-width: 450px;
  border-radius: 5px;

  h2 {
    text-align: left;
    font-size: 1.4rem;
    margin: 0 0 0.625rem;
    padding: 0;
  }

  h4 {
    width: 100%;
    text-align: left;
    font-size: 1.25rem;
    margin: 0 0 0.3125rem;
  }

  .inning {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 2rem;
  }

  .clear-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(50% - 10px);
    height: 2rem;
    border-radius: 5px;
  }

  .counter {
    font-weight: bold;
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: calc(33% - 25px);
    min-width: 60px;
  }

  .count-container {
    display: flex;
    align-items: center;
    height: 2rem;
    border-radius: 5px;
    width: 100%;
  }

  .count-number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 0 0.2rem;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    width: 34%;
  }

  button {
    height: 100%;
    border: 1px solid #ddd;
    -webkit-appearance: none;
    width: 33%;
  }

  .minus-button {
    border-radius: 5px 0 0 5px;
    background-color: #eee;
  }

  .plus-button {
    border-radius: 0 5px 5px 0;
    background-color: #ccc;
  }

  .game {
    display: flex;
    justify-content: space-between;
    .counter {
      margin-bottom: 0;
    }
  }

  .inning-count {
    position: relative;
  }

  .inning-description {
    position: absolute;
    display: inline-block;
    font-size: 1.5rem;
    &.top {
      top: 17px;
      right: 6px;
      transform: rotate(-90deg);
    }
    &.bottom {
      right: 0px;
      top: 19px;
      transform: rotate(90deg);
    }
  }
}
