.app {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.primary-button {
  display: inline-block;
  width: 100%;
  padding: 1rem 1.25rem;
  border-radius: 0.25rem;
  background-color: #28a745;
  border-color: #28a745;
  color: #fff;
  text-decoration: none;
  margin-bottom: 1rem;
  &:hover {
    cursor: pointer;
    background-color: #218838;
    border-color: #1e7e34;
  }
  &:disabled {
    opacity: 0.6;
    cursor: not-allowed;
    background-color: #28a745;
  }
}

.waiter {
  position: relative;
  width: 50px;
  height: 50px;
  margin: 25px auto;
  &:before {
    content: "";
    display: block;
    background-color: #dedede;
    animation: lightgrey 1.5s infinite;
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    opacity: 0.5;
  }
  &:after {
    content: "";
    display: block;
    background-color: #888;
    animation: darkgrey 1.5s infinite;
    width: 50px;
    height: 50px;
    position: absolute;
    border-radius: 50%;
    opacity: 0.5;
  }
}

@keyframes lightgrey {
  0% {
    transform: scaleX(0) scaleY(0);
  }
  50% {
    transform: scaleX(1) scaleY(1);
  }
  100% {
    transform: scaleX(0) scaleY(0);
  }
}

@keyframes darkgrey {
  0% {
    transform: scaleX(1) scaleY(1);
  }
  50% {
    transform: scaleX(0) scaleY(0);
  }
  100% {
    transform: scaleX(1) scaleY(1);
  }
}
